.menu {
    margin: 0;
    padding: 20px 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #282c34;
    flex-wrap: wrap;
}



.listElement:hover {
    cursor: pointer;
    opacity: 0.8;
}
